<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Video Server</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  {{{body}}}

  <script src="/js/player.js"></script>

</body>
</html>