<div class="layout">

  <div class="player">

    <video id="video" controls autoplay width="100%"></video>

    <div id="videoWrapper">
      <div id="videoTitle" class="video-title"></div>
    </div>

  </div>

  <div class="sidebar">
    <div id="list"></div>
  </div>

</div>